<div class="menubar inline-flex md:hidden">
  <button (click)="showSidebar()" class="hover:bg-slate-200">
    <img class="w-12" src="assets/img/menubar.svg" alt="menubar-icon">
  </button>
</div>
<div class="user text-sm hidden sm:flex px-2">
  <span>{{"Juanito Alimaña"}}</span>
</div>
<!-- green point button---------------------------- -->
<div class="greenpoint text-sm text-white flex-grow">
  <button class="flex">
    <img class="w-4" src="assets/img/greenpoint-icon.svg" alt="greenpoint-icon">
    <span>Crear un GreenPoint</span>
  </button>
</div>
<!-- icons------------------------------------- -->
<div class="utils space-x-2">
  <button>
    <img class="w-4 md:w-6 aspect-square" src="assets/img/dark-icon.svg" alt="dark-icon">
  </button>
  <button>
    <img class="w-4 md:w-6 aspect-square" src="assets/img/bell-icon.svg" alt="bell-icon">
  </button>
  <button>
    <img class="w-4 md:w-6 aspect-square" src="assets/img/user-icon.svg" alt="user-icon">
  </button>
</div>

