<div class="menubar inline-flex md:hidden">
  <button (click)="showSidebar()" class="hover:bg-slate-200">
    <img class="w-12" src="assets/img/menubar.svg" alt="menubar-icon">
  </button>
</div>
<div class="user text-sm hidden sm:flex px-2">
  <span>{{"Juanito Alimaña"}}</span>
</div>
<!-- green point button---------------------------- -->
<div class="greenpoint text-sm text-white flex-grow">
  <button class="flex">
    <img class="w-4" src="assets/img/greenpoint-icon.svg" alt="greenpoint-icon">
    <span>Crear un GreenPoint</span>
  </button>
</div>
<!-- icons------------------------------------- -->
<div class="utils space-x-2">
  <button>
    <img class="w-4 md:w-6 aspect-square" src="assets/img/dark-icon.svg" alt="dark-icon">
  </button>
  <button>
    <img class="w-4 md:w-6 aspect-square" src="assets/img/bell-icon.svg" alt="bell-icon">
  </button>
  <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownDivider"  type="button" >
    <img class="w-4 md:w-6 aspect-square" src="assets/img/user-icon.svg" alt="user-icon">
  </button>
  
<!-- <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownDivider" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
  </button> -->
  
  
  
</div>
<!-- Dropdown menu -->
<div id="dropdownDivider" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
  <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDividerButton">
    <li>
      <a class="flex px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" (click)="goToProfile()" >
        <svg class="h-5 w-5 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
        Ver perfil</a>
    </li>
  </ul>
  <div class="py-2">
    <a href="#" class="flex px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
      <svg class="h-5 w-5 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
      Cerrar sesión</a>
  </div>
</div>