<div class="px-8 w-full h-screen gap-2">
  <div class="h-full grid-cols-12">
    <div class="form">
      <form>
        <h2 class="text-2xl font-semibold text-gray-700 text-center pt-24">
          INICIO DE SESION
        </h2>
        <!--<p class="text-xl text-gray-600 text-center">Welcome back!</p>-->

        <div class="mt-4 pt-32 justify-center border-b-4">
          <label for="email">Correo electronico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            name="required"
            placeholder="Introduce tu email"
          />
          <span
            *ngIf="
              loginForm.controls['email'].getError('required') &&
              loginForm.controls['email'].touched
            "
            class="form-text"
            >El email es obligatorio.
          </span>
          <span
            *ngIf="
              loginForm.controls['email'].getError('email') &&
              loginForm.controls['email'].touched
            "
            class="form-text"
            >Ingresa correo electronico valido
          </span>
        </div>
        <div class="input-container">
          <div class="flex justify-between">
            <label for="password">Contraseña</label>
          </div>
          <input
            class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none"
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            name="required"
            minLength="8"
            placeholder="Introduce tu contraseña"
          />
          <span
            *ngIf="
              loginForm.controls['password'].getError('minLength(8)') &&
              loginForm.controls['password'].touched
            "
            class="form-text"
            >La contraseña debe tener al menos 8 caracteres.
          </span>
          <span
            *ngIf="
              loginForm.controls['password'].getError('required') &&
              loginForm.controls['password'].touched
            "
            class="form-text"
            >La contraseña es obligatoria.</span
          >
        </div>

        <div class="mt-8 flex items-center justify-center pt-56">
          <button
            type="submit"
            (click)="(login)"
            class="bg-green-700 text-white font-bold py-2 px-4 w-2/5 text-center rounded hover:bg-gray-600"
          >
            INICIAR SESION
          </button>
        </div>
        <div class="mt-4 text-center justify-between">
          <span class="w-full md:w-1/4"></span>
          <a href="#" class="text-2x font-bold text-black"
            >Si aun no tienes tu cuenta
            <span href="#" class="text-green-700">registrate aqui. </span></a
          >
          <span class="border-b w-1/5 md:w-1/4"></span>
        </div>
      </form>
      <div
        class="lg:w-4/5 md:w-3/5 xs:hidden max-w-6xl px-4 bg-cover gap-4"
        style="background-image: url('../../../../../assets/img/Group 23.png')"
      ></div>
    </div>
  </div>
</div>
