<form class="space-y-2" (ngSubmit)="onSubmit()" [formGroup]="form">
  <div>
    <label for="email">Ingrese el correo del usuario</label>
    <input
      type="email"
      id="email"
      class="info"
      formControlName="emailUsuario"
    />
    <strong>{{ emailErrorMessage }}</strong>
  </div>
  <div class="flex items-center gap-5">
    <div class="flex items-center gap-2">
      <input type="radio" id="carton-papel" />
      <label for="carton-papel">Cartón y Papel</label>
    </div>
    <div class="flex items-center gap-2">
      <input type="radio" id="vidrio" />
      <label for="vidrio">Vidrio</label>
    </div>
    <div class="flex items-center gap-2">
      <input type="radio" id="plastico" />
      <label for="plastico">Plástico</label>
    </div>
    <div class="flex items-center gap-2">
      <input type="radio" id="metal" />
      <label for="metal">Metal</label>
    </div>
  </div>
  <div>
    <label for="description">Ingrese una descripción</label>
    <input
      type="text"
      id="description"
      class="info"
      formControlName="descripcion"
    />
    <strong>{{ descriptionErrorMessage }}</strong>
  </div>
  <div class="pt-3 text-center">
    <app-button type="submit">Agregar y dar puntos</app-button>
  </div>
</form>
