<p class="text-white font-inter text-3xl font-bold">
    Perfil de usuario
</p>
<span class="text-white font-inter text-lg font-semibold my-8"></span>
<section class="md:flex md:flex-row min-w-full h-5/6 rounded-md ">
    <article class="md:w-1/2 my-4 mx-4 h-80 rounded-md bg-white  overflow-x-auto shadow-lg">
        <div class="h-2/5  flex flex-col justify-end items-start ps-8"
            style="background-image: url('assets/img/bg-pixeles.png'); background-size: cover;">

            <div class="w-28 h-28 rounded-full bg-white flex justify-center items-center">
                <img *ngIf="userData" src="{{userData.imgUrl}}" alt="imagen-perfil"
                    class="w-28 h-28 rounded-full bg-white ">
            </div>
        </div>
        <div class="h-2/5 p-8">

            <h1 class=" font-inter text-3xl font-bold" *ngIf="userData">{{userData.nombre + " "+ userData.apellido}}
            </h1>


            <h2 class=" font-inter text-lg font-semibold my-4" *ngIf="userData">{{userData.email}}</h2>

        </div>
        <div class="h-1/5 flex justify-end items-end w-full">

            <app-button type="submit" color="success" class="m-auto
            " 
            (click)="showEdit()">Editar perfil</app-button>
        </div>
    </article>
    <article
        class="md:w-1/2   my-4 mx-4 h-80 rounded-md bg-white  overflow-x-auto  shadow-lg flex flex-col justify-between items-end">
        <div class="h-4/5 p-8">

            <h1 class=" font-inter text-3xl font-bold">{{'Acerca de'}}</h1>
            <h2 class=" font-inter text-lg font-semibold my-4" *ngIf="userData">

                <p class="text-green-600" *ngIf="userData.validEmail">Cuenta verificada</p>
                <p class="text-blue-600" *ngIf="!userData.validEmail">Debe Verificar su cuenta</p>
            </h2>
            <h2 class=" font-inter text-lg font-semibold my-4" *ngIf="userData">{{userData.puntos + " EcoPuntos"}}</h2>
        </div>
        <div class="h-1/5 flex justify-end items-end w-full">

            <app-button type="submit" color="success" class="m-auto" *ngIf="!userData.validEmail">Verificar
                cuenta</app-button>
        </div>
    </article>
</section>
<section id="edit" class="hidden">
    <article class="my-4 mx-4 p-8  rounded-md bg-white  overflow-x-auto  shadow-lg flex flex-col justify-end">
        <!-- [formGroup]="form" -->
        <!-- no me permite colocar esto -->
        <form  
        
        (ngSubmit)="onSubmit()" class="flex flex-col gap-6">

            <div>
                <label for="name" class="block text-lg text-gray-900">Nombre</label>
                <input type="text" value="{{userData.nombre}}" id="name"
                    class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
                    formControlName="nombre" />
                <strong class="text-sm font-semibold text-red-700">{{
                    nameErrorMessage
                    }}</strong>
            </div>
            <div>
                <label for="lastName" class="block text-lg text-gray-900">Apellido</label>
                <input type="text" value="{{userData.apellido}}" id="lastName"
                    class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
                    formControlName="apellido" />
                <strong class="text-sm font-semibold text-red-700">{{
                    lastNameErrorMessage
                    }}</strong>
            </div>
            <div>
                <label for="email" class="block text-lg text-gray-900">E-mail</label>
                <input type="email" value="{{userData.email}}" id="email"
                    class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
                    formControlName="email" />
                <strong class="text-sm font-semibold text-red-700">{{
                    emailErrorMessage
                    }}</strong>
            </div>
            <div><label for="img-picker" class="block text-lg text-gray-900">Seleccione una
                    imagen:</label>
                <input type="file" id="img-picker" name="img-picker" accept=".png,.jpg.jpeg"
                    class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500">
                
            </div>
            <div class="flex justify-center items-center">

                    <div class="w-28 h-28 rounded-full bg-white flex justify-center items-center">
                        <img id="preview" src="{{userData.imgUrl}}" alt="imagen-perfil"
                            class="w-28 h-28 rounded-full bg-white ">
                    </div>
                </div>
            <app-button type="submit" color="success" class="mt-8 m-auto">Guardar cambios</app-button>
        </form>
    </article>

</section>