<main class="w-full">
  <header class="mb-16 text-4xl font-semibold">
    <h1 class="text-center">REGISTRO</h1>
  </header>
  <section>
    <form
      class="flex flex-col gap-6"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <label for="name" class="block text-lg text-gray-900">Nombre</label>
        <input
          type="text"
          id="name"
          class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
          formControlName="nombre"
        />
        <div class="flex flex-col gap-1">
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('nombre', 'required')"
            >El nombre es requerido</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('nombre', 'numericSpecialCharacter')"
            >No se admiten caracteres numéricos ni especiales</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="
              hasError('nombre', 'minlength') || hasError('nombre', 'maxlength')
            "
            >Debe tener entre 2 y 60 caracteres</strong
          >
        </div>
      </div>
      <div>
        <label for="lastName" class="block text-lg text-gray-900"
          >Apellido</label
        >
        <input
          type="text"
          id="lastName"
          class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
          formControlName="apellido"
        />
        <div class="flex flex-col gap-1">
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('apellido', 'required')"
            >El apellido es requerido</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('apellido', 'numericSpecialCharacter')"
            >No se admiten caracteres numéricos ni especiales</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="
              hasError('apellido', 'minlength') ||
              hasError('apellido', 'maxlength')
            "
            >Debe tener entre 2 y 60 caracteres</strong
          >
        </div>
      </div>
      <div>
        <label for="email" class="block text-lg text-gray-900">E-mail</label>
        <input
          type="email"
          id="email"
          class="w-full pt-0 px-3 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
          formControlName="email"
        />
        <div class="flex flex-col gap-1">
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('email', 'required')"
            >El email es requerido</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('email', 'email')"
            >Ingresa un email válido</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="
              hasError('email', 'minlength') || hasError('email', 'maxlength')
            "
            >Debe tener entre 8 y 255 caracteres</strong
          >
        </div>
      </div>
      <div>
        <label for="password" class="block text-lg text-gray-900"
          >Contraseña</label
        >
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="w-full pt-0 pl-3 pr-10 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
            formControlName="password"
          />
          <button
            class="material-symbols-outlined absolute right-2 cursor-pointer"
            (click)="handleShowPassword()"
            type="button"
          >
            {{ showPassword ? "visibility" : "visibility_off" }}
          </button>
        </div>
        <div class="flex flex-col gap-1">
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('password', 'required')"
            >La contraseña es requerida</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="
              hasError('password', 'minlength') ||
              hasError('password', 'maxlength')
            "
            >Debe tener entre 8 y 128 caracteres</strong
          >
          <strong
            class="text-sm font-semibold text-red-700"
            *ngIf="hasError('password', 'password')"
            >Debe contener al menos 1 minúscula, 1 mayúscula, 1 número y 1
            caracter especial</strong
          >
        </div>
      </div>
      <div>
        <label for="repeatPassword" class="block text-lg text-gray-900"
          >Confirmación de contraseña</label
        >
        <div class="relative">
          <input
            [type]="showRepeatPassword ? 'text' : 'password'"
            id="repeatPassword"
            class="w-full pt-0 pl-3 pr-10 pb-1 text-gray-800 outline-none border-b-2 border-gray-400 focus:border-sky-500"
            formControlName="repeatPassword"
          />
          <button
            class="material-symbols-outlined absolute right-2 cursor-pointer"
            (click)="handleShowRepeatPassword()"
            type="button"
          >
            {{ showRepeatPassword ? "visibility" : "visibility_off" }}
          </button>
        </div>
        <strong
          class="text-sm font-semibold text-red-700"
          *ngIf="hasError('repeatPassword', 'required')"
          >Por favor, confirma tu contraseña</strong
        >
      </div>
      <app-button type="submit" color="success" class="mt-8 m-auto"
        >CREAR CUENTA</app-button
      >
    </form>
    <p class="font-bold text-center text-lg text-gray-800 mt-8">
      ¿Ya tienes cuenta?
      <a routerLink="../login" class="text-green-700 hover:text-green-600"
        >Iniciar sesi&oacute;n</a
      >
    </p>
  </section>
</main>
