<h2 class="text-white text-xl font-bold md:text-2xl mb-2"
>Bienvenido {{'Juanito Alimaña'}}.</h2>
<div class="appointment text-end mb-2">
  <button
  class="border-slate-500 border-2 bg-white text-slate-500 font-bold p-2"
  >Agendar reciclaje</button>
</div>
<div class="filters mb-2">
  <span class="text-white mr-2">Tipo de reciclaje:</span>
  <select>
    <option value="1">Carton</option>
    <option value="1">Pl&aacute;stico</option>
    <option value="1">Metal</option>
    <option value="1">Papel</option>
  </select>
</div>
<div id="map" class="map w-full h-full bg-slate-300">
</div>
