<h2 class="text-white font-inter text-3xl font-bold mb-10">
  Premios
</h2>

<section class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8 z-30 my-5">
  <section class="">
    <h3 class="text-white mb-4 lg:mb-10 px-3">Canjeas tus premios</h3>
    <article class="shadow-md bg-white lg:h-56 h-44 rounded-xl">
      <div class="w-full h-3/6 bg-[#656565] rounded-xl"></div>
      <div class="flex justify-between p-3">
        <div class="w-5/6">
          <h3 class="font-bold">Descuento para burger king</h3>
          <p class="truncate w-[200px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, optio?
          </p>
        </div>
        <button>Canjear</button>
      </div>
    </article>
  </section>
  <section class="">
    <h3 class="text-black lg:text-white mb-4 lg:mb-10 px-3">Canjeas tus premios</h3>
    <article class="shadow-md bg-white h-56 rounded-xl">
      <div class="w-full h-3/6 bg-[#656565] rounded-xl"></div>
      <div class="flex justify-between p-3">
        <div class="w-5/6">
          <h3 class="font-bold">Descuento para burger king</h3>
          <p class="truncate w-[200px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, optio?
          </p>
        </div>
        <button>Canjear</button>
      </div>
    </article>
  </section>
  <section class="">
    <h3 class="text-black lg:text-white mb-4 lg:mb-10 px-3">Canjeas tus premios</h3>
    <article class="shadow-md bg-white h-56 rounded-xl">
      <div class="w-full h-3/6 bg-[#656565] rounded-xl"></div>
      <div class="flex justify-between p-3">
        <div class="w-5/6">
          <h3 class="font-bold">Descuento para burger king</h3>
          <p class="truncate w-[200px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, optio?
          </p>
        </div>
        <button>Canjear</button>
      </div>
    </article>
  </section>
</section>


<section class="bg-[#656565] w-full h-[30rem] p-5 rounded-lg overflow-x-auto">
  <h2 class="font-bold mb-5 text-white">Listado de premios canjeados</h2>
  <section class="bg-white h-5/6 rounded-xl">
    <table class="rounded-xl w-full overflow-x-auto">
      <thead>
        <tr class="border border-gray-200 uppercase text-sm font-semibold bg-transparent">
          <th>Usuario</th>
          <th>Tipo</th>
          <th>Descripcion</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Acciones</th>

        </tr>
      </thead>
    </table>
  </section>
</section>
