<main class="w-11/12 max-w-[1000px] m-auto">



    <section class="px-4 lg:px-8 xl:px-16 py-12 lg:py-24">
        <article class="flex justify-center md:justify-between lg:items-start w-full">
            <i class="md:block hidden logo-item-left"></i>
            <div class="flex flex-col items-center">
                <i class="logo-ecohero text-5xl lg:text-6xl text-[#006C34]"></i>
                <h1 class="text-4xl lg:text-6xl text-center lg:text-left ">
                    <strong class="text-[#006C34]">Green</strong> <strong class="text-[#FFC107]">Point</strong>
                </h1>
            </div>
            <i class="md:block hidden logo-item-right"></i>
        </article>



    </section>

</main>
<section class="bg-recicle ">
    <div class="bg-[#ffffff65] px-16 py-8">

        <article class="bg-[#ffffff90] text-center font-bold rounded-md p-16 text-[#006C34] shadow-lg">
            <h1 class="text-7xl">Ups...</h1>
            <br>
            <h3 class="text-5xl text-gray-700">404 - Página no encontrada</h3>
            <br>
            <h6 class="text-2xl ">No encontramos la páginas que buscas, puede que la hayamos reciclado.</h6>
            <br>

            <app-button (click)="goToHome()">Ir al Inicio</app-button>
        </article>
    </div>
</section>
footer
