<h2 class="text-white font-inter text-3xl font-bold">
  Listado de reciclados
</h2>
<span class="text-white font-inter text-lg font-semibold my-8">Historial de reciclajes</span>
<section class="min-w-full h-5/6 rounded-md bg-gray-300 p-8  overflow-x-auto">
  <section class="min-w-full h-full rounded-md bg-white  overflow-x-auto">
    <table class="min-w-full border-collapse">
      <thead>
        <tr class="overflow-x-auto">
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Punto verde
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Fecha
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Estado
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- Filas de la tabla -->
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            John Doe
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            Green Point 1
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            2023-05-12
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">
            Active
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            Jane Smith
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            Green Point 2
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            2023-06-25
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
            Inactive
          </td>
        </tr>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            Robert Johnson
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            Green Point 3
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            2023-07-18
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-yellow-500">
            Pending
          </td>
        </tr>
        <!-- Agrega más filas según sea necesario -->
      </tbody>

    </table>
  </section>
</section>
