<h2 class="text-white font-inter text-3xl font-bold">
  Listado de reciclados
</h2>
<span class="text-white font-inter text-lg font-semibold my-8">Historial de reciclajes</span>
<section class="min-w-full h-5/6 rounded-md bg-gray-300 p-8  overflow-x-auto">
  <section class="min-w-full h-full rounded-md bg-white  overflow-x-auto">
    <!-- <table class="min-w-full border-collapse">
      <thead>
        <tr class="overflow-x-auto">
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Materiales Recibidos
          </th>
          <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Fecha
          </th>

        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
=        <tr *ngFor="let greenpoint of greenpoints">
          <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            {{ greenpoint.nombre }}
          </td>
          <td *ngFor="let reciclaje of greenpoint.reciclajes" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <ul>
              <li>{{ reciclaje.materialesRecibidos }}</li>
            </ul>
          </td>
          <td *ngFor="let reciclaje of greenpoint.reciclajes"
            class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
            <ul>
              <li>
                {{ reciclaje.dia }}
              </li>
            </ul>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">
            {{ greenpoint.horarioAtencion }}
          </td>
        </tr>

      </tbody>

    </table> -->
    <table class="min-w-full divide-y divide-gray-200">
      <thead>
        <tr>
          <th scope="col"
            class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Nombre
          </th>
          <th scope="col"
            class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Materiales Recibidos
          </th>
          <th scope="col"
            class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Fecha
          </th>
          <!-- <th scope="col"
            class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Horario de Atención
          </th> -->
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <!-- Filas de la tabla -->
        <ng-container *ngFor="let greenpoint of recyclingData ; let i = index;">
          <tr>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900 cursor-pointer">
              <div class="flex justify-start items-center">
                <!-- <i class="{{ showDetails[i] ? 'arrow-expand' : 'arrow-right' }}"></i> -->
                {{ greenpoint.puntoVerdeNombre }}
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <ul class="list-disc list-inside">
                <li>{{ greenpoint.materialesRecibidos }}</li>
              </ul>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              <ul class="list-disc list-inside">
                <li>{{ greenpoint.dia }}</li>
              </ul>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>

  </section>
</section>
