<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>validated</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<style>
		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f9f9f9;
			font-family: Arial, sans-serif;
			border-radius: 20px;
			color: black;
		}

		h1 {
			font-size: 24px;
			text-align: center;
		}

		
		.alert {
			font-weight: bold;
			color: red;
			font-size: small;
		}

		.logo-completo {
			width: 200px;
			display: block;
			margin: 0 auto;
		}
		
		.about {
			color: grey;
			text-align: center;
		}
	</style>

</head>

<body>
	<div class="container">

		<img class="logo-completo"
			src="https://res.cloudinary.com/drm1nkbxu/image/upload/v1708718823/Fotos/bq9s2qlhy1q9cdg5q6un.png">

		<h1 class="alert">El Usuario ya ha sido validado </h1>

		<br><br>

		<div class="about">
			<h1>GREENPOINT</h1>
		</div>

	</div>

</body>

</html>