<main class="w-11/12 max-w-[1000px] m-auto">
  <nav class="flex justify-between items-center mt-5 px-4 lg:px-8 py-3">
    <div class="flex items-center">
      <i class="logo-ecoapp text-2xl lg:text-3xl"></i>
      <h1 class="text-2xl pb-4"> <strong class="text-[#006C34]">Green</strong><strong
          class="text-[#FFC107]">Point</strong> </h1>
    </div>
    <div class="lg:hidden relative">
      <!-- Burger icon -->
      <button id="burgerButton" class="text-gray-700 focus:outline-none" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <!-- Mobile menu -->
      <div class=" absolute top-7 right-14" *ngIf="isMenuOpen">
        <!-- Mostrar el botón del Dashboard si el usuario está logueado -->
        <a *ngIf="isLogged" routerLink="/dashboard" class="block uppercase cursor-pointer">Menú Principal</a>
        <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
        <ng-container *ngIf="!isLogged">
          <a routerLink="/auth/login" class="block py-2 px-4">Ingresar</a>
          <a routerLink="/auth/register" class="block py-2 px-4 ">Registrarse</a>
        </ng-container>
      </div>
    </div>
    <div class="hidden lg:flex gap-5 uppercase">
      <!-- Mostrar solo el enlace de Dashboard si el usuario está logueado -->
      <ng-container *ngIf="isLogged">
        <div class="flex gap-2">
          <a routerLink="/dashboard"
            class="border border-[#006C34] px-4 py-2 text-[#006C34] hover:bg-green-900 hover:text-white">Menú
            Principal</a>
          <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownDivider" type="button"
            (click)="showOptions()">
            <img class="w-4 md:w-6 aspect-square rounded-full border border-green-700" *ngIf="UserResponse" [src]="UserResponse.imgUrl"
              alt="user-icon" />
          </button>




        </div>
      </ng-container>
      <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
      <ng-container *ngIf="!isLogged">
        <a routerLink="/auth/login"
          class="border border-[#006C34] px-4 py-2   text-[#006C34] hover:bg-green-900 hover:text-white">Iniciar
          sesion</a>

        <a routerLink="/auth/register"
          class="border border-[#006C34] px-4 py-2   text-white bg-[#FFC107] ">Registrarse</a>
      </ng-container>
    </div>
  </nav>
  <!-- Dropdown menu -->
  <div id="dropdownDivider" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2  text-gray-700" aria-labelledby="dropdownDividerButton">
      <li>
        <a class="flex px-4 py-2 hover:bg-gray-100 cursor-pointer font-inter text-1xl font-bold " routerLink="profile">
          <svg class="h-5 w-5 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
          </svg>
          Ver perfil</a>
      </li>
    </ul>
    <div class="py-2">
      <a class="flex px-4 py-2 text-gray-700 hover:bg-gray-100 cursor-pointer font-inter text-1xl font-bold "
        (click)="onLogout()">
        <svg class="h-5 w-5 pr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
        </svg>
        Cerrar sesión</a>
    </div>
  </div>
  <section class="px-4 lg:px-8 xl:px-16 py-12 lg:py-24">
    <section class="flex justify-center md:justify-between lg:items-start w-full">
      <i class="md:block hidden logo-item-left"></i>
      <div class="flex flex-col items-center">
        <i class="logo-ecohero text-5xl lg:text-6xl text-[#006C34]"></i>
        <h1 class="text-4xl lg:text-6xl text-center lg:text-left ">
          <strong class="text-[#006C34]">Green</strong> <strong class="text-[#FFC107]">Point</strong>
        </h1>
      </div>
      <i class="md:block hidden logo-item-right"></i>
    </section>
    <div class="flex flex-col-reverse lg:flex-row items-center justify-center gap-4 mt-8 lg:mt-12">
      <img src="../../../assets/img/bg-main-theme.svg" class="  w-44 h-full" alt="theme">
      <p class="text-black font-roboto text-lg lg:text-xl font-normal ">
        Nuestra misión es promover la conciencia ambiental y facilitar la
        participación activa de la comunidad en la gestión responsable de los
        residuos. Nos esforzamos por crear un espacio donde los ciudadanos puedan
        encontrar fácilmente los GreenPoints cercanos a su ubicación, así como
        información relevante sobre cómo separar y disponer adecuadamente sus
        residuos.
      </p>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-between gap-4 mt-8 lg:mt-12">

      <p class="text-black font-roboto text-lg lg:text-xl font-normal lg:w-96">A través de esta plataforma, buscamos
        fomentar una cultura de reciclaje y sostenibilidad, contribuyendo así a
        un ambiente más limpio y una comunidad más fuerte y comprometida con el cuidado del planeta. Juntos, trabajamos
        por un futuro más verde y saludable para todos</p>
      <img src="../../../assets/img/bg_auth.png" class="w-64 h-64" alt="auth">
    </div>
  </section>

  <section>
    <article class="my-16">
      <div class="flex flex-col gap-2">

        <h2 class="text-black text-center font-space-grotesk text-2xl font-medium">
          ¿QUÉ MATERIALES RECICLAMOS?
        </h2>
        <span class="text-xl font-bold text-center">Siempre limpios y secos</span>

      </div>

      <ul class="flex justify-around flex-wrap my-10">
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/metal.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Metales</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/glasses.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Vidrios</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/plastics.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Plásticos</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/paper.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Papel y cartón</span>
          </div>
        </li>
      </ul>
    </article>

    <article class="my-16">
      <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-6">
        BENEFICIOS DEL RECICLAJE
      </h2>
      <ol class="flex flex-col gap-5">
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">1</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Conservación de recursos naturales:</strong> El reciclaje
            ayuda a conservar recursos naturales como madera, agua y minerales
            al reducir la necesidad de extraer y procesar materias primas
            nuevas.
          </p>
        </li>
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">2</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Reducción de la contaminación:</strong> Al reciclar, se
            reduce la cantidad de desechos que terminan en vertederos o
            incineradoras, lo que ayuda a prevenir la contaminación del aire,
            agua y suelo.
          </p>
        </li>
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">3</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Ahorro de energía:</strong> La fabricación de productos a
            partir de materiales reciclados suele requerir menos energía que la
            producción a partir de materias primas vírgenes, lo que ayuda a
            reducir las emisiones de gases de efecto invernadero y el consumo de
            recursos energéticos.
          </p>
        </li>
      </ol>
    </article>
  </section>

  <div class="background-image opacity-60"></div>
  <section class="my-16">
    <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-16 uppercase">
      Gracias a la participación de la comunidad se puede lograr:
    </h2>

    <section class="mx-auto max-w-full">
      <div class="flex justify-start lg:justify-start items-center">
        <p class="text-black font-roboto text-xl lg:text-2xl font-normal leading-normal tracking-wide p-4">
          Reducir las emisiones de CO2: 1,5 kg de CO2 por cada kilo de plástico reciclado.
        </p>
        <img src="../../../assets/img/pollution-3.png" class="w-1/2 h-48" alt="Descripción de la imagen" />
      </div>


      <div class="flex justify-start lg:justify-start items-center flex-row-reverse">
        <p class="text-black font-roboto text-xl lg:text-2xl font-normal leading-normal tracking-wide p-4">
          Reducir la tala de árboles, el consumo de agua en un 86% y el de energía en un 65%.
        </p>
        <img src="../../../assets/img/pollution-2.png" class="w-1/2 h-48" alt="Descripción de la imagen" />
      </div>


      <div class="flex justify-start lg:justify-start items-center">
        <p class="text-black font-roboto text-xl lg:text-2xl font-normal leading-normal tracking-wide p-4">
          Reciclando 3000 botellas de vidrio, ahorramos 130 kg de petróleo y 1200 kg de materias primas.
        </p>
        <img src="../../../assets/img/pollution.png" class="w-1/2 h-48" alt="Descripción de la imagen" />
      </div>
    </section>

    <section class="flex items-center flex-col gap-3 my-20">
      <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-4">
        ANIMATE A HACER LA DIFERENCIA
      </h2>

      <a *ngIf="isLogged" routerLink="/dashboard"
        class="border border-[#006C34] px-4 py-2 text-[#006C34] hover:bg-green-900 hover:text-white">Menú Principal</a>
      <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
      <ng-container *ngIf="!isLogged">
        <app-button (click)="goToRegister()">REGISTRARSE</app-button>
      </ng-container>
      <!-- <a
        routerLink="/auth/register"
        class="inline-flex px-12 py-2 items-center gap-2 bg-[#006C34] text-white"
      >
        REGISTRARSE
      </a> -->
    </section>
  </section>

  <!-- Footer -->
  <section class="background-image ">
    <div class="bg-white bg-opacity-60 flex flex-col lg:flex-row justify-around my-8 p-5">

      <div class="flex flex-col lg:justify-center lg:items-center">
        <div class="flex items-center">
          <i class="logo-ecoapp text-xl lg:text-2xl"></i>
          <h1 class="text-2xl pb-4"> <strong class="text-[#006C34]">Green</strong><strong
              class="text-[#FFC107]">Point</strong> </h1>
        </div>
        <p class="font-bold">Fomentando una <br>
          cultura de reciclaje <br> y sostenibilidad.</p>
      </div>
      <div>
        <h1 class="font-bold text-md my-3">Contacto</h1>
        <ul class="list-disc">
          <li class="font-bold">{{'support@greenpoint.com'}}</li>
          <li class="font-bold">
            88 colin p kelly jr street
            San Francisco, CA 94107
          </li>
          <li class="font-bold">
            +123456789012
          </li>
        </ul>
      </div>
      <div class="w-28 h-4/6">
        <h1 class="font-bold text-md my-3">Nuestras redes</h1>
        <div class="grid grid-cols-3 gap-1">
          <div class=" text-center">
            <img src="../../../assets/icons/icono-fb.png" alt="">
          </div>
          <div class=" text-center">
            <img src="../../../assets/icons/icono-ig.png" alt="">
          </div>
          <div class=" text-center">
            <img src="../../../assets/icons/icono-twt.png" alt="">
          </div>
          <div class=" text-center">
            <img src="../../../assets/icons/icono-wts.png" alt="">
          </div>
          <div class=" text-center">
            <img src="../../../assets/icons/icono-yt.png" alt="">
          </div>
          <div class=" text-center">
            <img src="../../../assets/icons/snapchat -logo.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>