<main class="w-11/12 max-w-[1000px] m-auto">
  <nav class="flex justify-between items-center mt-5 px-4 lg:px-8 py-3">
    <div class="flex items-center">
      <i class="logo-ecoapp text-2xl lg:text-3xl"></i>
      <h1 class="text-2xl pb-4"> <strong class="text-[#006C34]">Green</strong><strong
          class="text-[#FFC107]">Point</strong> </h1>
    </div>
    <!-- <div class="lg:hidden relative">
      <button id="burgerButton" class="text-gray-700 focus:outline-none" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <div class=" w-full absolute top-7 right-16 " *ngIf="isMenuOpen">
        <a routerLink="/auth/login" class="block py-2 px-4 text-gray-700">Ingresar</a>
        <a routerLink="/auth/register" class="block py-2 px-4 text-gray-700">Registrarse</a>
      </div>
    </div>
    <div class="hidden lg:flex gap-5 uppercase">
      <a routerLink="/auth/login">Ingresar</a>
      <a routerLink="/auth/register">Registrarse</a>
    </div> -->
    <div class="lg:hidden relative">
      <!-- Burger icon -->
      <button id="burgerButton" class="text-gray-700 focus:outline-none" (click)="toggleMenu()">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
      <!-- Mobile menu -->
      <div class=" absolute top-7 right-14" *ngIf="isMenuOpen">
        <!-- Mostrar el botón del Dashboard si el usuario está logueado -->
        <a *ngIf="isLogged" routerLink="/dashboard" class="block uppercase cursor-pointer">Ir al dashboard</a>
        <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
        <ng-container *ngIf="!isLogged">
          <a routerLink="/auth/login" class="block py-2 px-4">Ingresar</a>
          <a routerLink="/auth/register" class="block py-2 px-4 ">Registrarse</a>
        </ng-container>
      </div>
    </div>
    <div class="hidden lg:flex gap-5 uppercase">
      <!-- Mostrar solo el enlace de Dashboard si el usuario está logueado -->
      <ng-container *ngIf="isLogged">
        <div class="flex gap-2">
          <a routerLink="/dashboard"
            class="border border-[#006C34] px-4 py-2 text-[#006C34] hover:bg-green-900 hover:text-white">Ir al
            dashboard</a>
          <div class="rounded-full h-10 w-10 bg-gray-500"></div>
        </div>
      </ng-container>
      <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
      <ng-container *ngIf="!isLogged">
        <a routerLink="/auth/login"
          class="border border-[#006C34] px-4 py-2   text-[#006C34] hover:bg-green-900 hover:text-white">Iniciar
          sesion</a>

        <a routerLink="/auth/register"
          class="border border-[#006C34] px-4 py-2   text-white bg-[#FFC107] ">Registrarse</a>
      </ng-container>
    </div>
  </nav>



  <section class="px-4 lg:px-8 xl:px-16 py-12 lg:py-24">
    <section class="flex justify-center md:justify-between lg:items-start w-full">
      <i class="md:block hidden logo-item-left"></i>
      <div class="flex flex-col items-center">
        <i class="logo-ecohero text-5xl lg:text-6xl text-[#006C34]"></i>
        <h1 class="text-4xl lg:text-6xl text-center lg:text-left ">
          <strong class="text-[#006C34]">Green</strong> <strong class="text-[#FFC107]">Point</strong>
        </h1>
      </div>
      <i class="md:block hidden logo-item-right"></i>
    </section>
    <div class="flex flex-col-reverse lg:flex-row items-center justify-center gap-4 mt-8 lg:mt-12">
      <img src="../../../assets/img/bg-main-theme.svg" class="  w-44 h-full" alt="theme">
      <p class="text-black font-roboto text-lg lg:text-xl font-normal ">
        Nuestra misión es promover la conciencia ambiental y facilitar la
        participación activa de la comunidad en la gestión responsable de los
        residuos. Nos esforzamos por crear un espacio donde los ciudadanos puedan
        encontrar fácilmente los puntos verdes cercanos a su ubicación, así como
        información relevante sobre cómo separar y desechar adecuadamente sus
        residuos.
      </p>
    </div>
    <div class="flex flex-col lg:flex-row items-center justify-between gap-4 mt-8 lg:mt-12">

      <p class="text-black font-roboto text-lg lg:text-xl font-normal lg:w-96">A través de esta plataforma, buscamos
        fomentar una cultura de reciclaje y sostenibilidad, contribuyendo así a
        un ambiente más limpio y una comunidad más fuerte y comprometida con el cuidado del planeta. Juntos, trabajamos
        por un futuro más verde y saludable para todos</p>
      <img src="../../../assets/img/bg_auth.png" class="w-64 h-64" alt="auth">
    </div>
  </section>

  <section>
    <article class="my-16">
      <h2 class="text-black text-center font-space-grotesk text-2xl font-medium">
        ¿QUÉ MATERIALES RECICLAMOS?
      </h2>

      <ul class="flex justify-around flex-wrap my-10">
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/metal.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Metales</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/glasses.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Vidrios</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/plastics.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Plasticos</span>
          </div>
        </li>
        <li>
          <div class="flex flex-col items-center">
            <div class="flex w-44 h-44 p-3 md:p-4 items-start gap-2 md:gap-4">
              <img src="../../../assets/img/paper.png" alt="#" class="w-full h-full object-cover" />
            </div>

            <span>Papel y cartón</span>
          </div>
        </li>
      </ul>
    </article>
    <article class="my-16">
      <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-6">
        BENEFICIOS DEL RECICLAJE
      </h2>
      <ol class="flex flex-col gap-5">
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">1</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Conservación de recursos naturales:</strong> El reciclaje
            ayuda a conservar recursos naturales como madera, agua y minerales
            al reducir la necesidad de extraer y procesar materias primas
            nuevas.
          </p>
        </li>
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">2</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Reducción de la contaminación:</strong> Al reciclar, se
            reduce la cantidad de desechos que terminan en vertederos o
            incineradoras, lo que ayuda a prevenir la contaminación del aire,
            agua y suelo.
          </p>
        </li>
        <li class="flex flex-col lg:flex-row lg:items-center">
          <span
            class="text-black text-center font-roboto text-4xl lg:text-6xl font-normal leading-9 lg:px-9 lg:py-3">3</span>
          <p class="text-black font-roboto text-base lg:text-lg font-normal leading-normal py-2 lg:pl-4">
            <strong>Ahorro de energía:</strong> La fabricación de productos a
            partir de materiales reciclados suele requerir menos energía que la
            producción a partir de materias primas vírgenes, lo que ayuda a
            reducir las emisiones de gases de efecto invernadero y el consumo de
            recursos energéticos.
          </p>
        </li>
      </ol>
    </article>
  </section>
  <section class="my-16">
    <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-16">
      GRACIAS AL ES EZFUERZO DE LA COMUNIDAS HEMOS AYUDADO A
    </h2>

    <section class="mx-auto w-11/12 lg:w-8/12 max-w-full">
      <article class="grid grid-cols-1 lg:grid-cols-2 lg:gap-0 gap-4">
        <div class="flex justify-start lg:justify-start items-center">
          <p class="text-black font-roboto text-2xl lg:text-3xl font-normal leading-normal tracking-wide">
            Reducir las emisiones de dióxido de carbono en un 95%
          </p>
        </div>
        <img src="../../../assets/img/pollution-3.png" class="lg:w-[325px] w-full max-w-full h-32"
          alt="Descripción de la imagen" />
      </article>

      <div class="flex lg:flex-row-reverse flex-col justify-between w-full lg:my-0 my-4 lg:gap-0 gap-4">
        <p
          class="text-black font-roboto text-2xl lg:text-3xl font-normal leading-normal tracking-wide lg:px-14 lg:py-2">
          Ahorrar hasta 5,774 kWh de energía
        </p>
        <img src="../../../assets/img/pollution-2.png" class="lg:w-[305px] w-full max-w-full h-32"
          alt="Descripción de la imagen" />
      </div>

      <article class="grid grid-cols-1 lg:grid-cols-2 lg:gap-0 gap-4">
        <div class="flex justify-start lg:justify-center items-center">
          <p class="text-black font-roboto text-2xl lg:text-3xl font-normal leading-normal tracking-wide">
            Ahorrar hasta 5,774 kWh de energía
          </p>
        </div>
        <img src="../../../assets/img/pollution.png" class="lg:w-[325px] w-full max-w-full h-32"
          alt="Descripción de la imagen" />
      </article>
    </section>

    <section class="flex items-center flex-col gap-3 my-20">
      <h2 class="text-black text-center font-space-grotesk text-2xl font-medium my-4">
        ANIMATE A HACER LA DIFERENCIA
      </h2>

      <a *ngIf="isLogged" routerLink="/dashboard"
        class="text-[#006C34] hover:bg-green-900 hover:text-white uppercase">Ir al dashboard</a>
      <!-- Si el usuario no está logueado, mostrar los enlaces de Ingresar y Registrarse -->
      <ng-container *ngIf="!isLogged">
        <app-button (click)="goToRegister()">REGISTRARSE</app-button>
      </ng-container>
      <!-- <a
        routerLink="/auth/register"
        class="inline-flex px-12 py-2 items-center gap-2 bg-[#006C34] text-white"
      >
        REGISTRARSE
      </a> -->
    </section>
  </section>

  <!-- Footer -->
  <section class="background-image flex flex-col lg:flex-row justify-around my-8 p-5">
    <!-- <img src="../../../assets/images/fondo.png" alt="fgdssgf" class="new-bg-undernooth"> -->
    <div class="flex flex-col lg:justify-center lg:items-center">
      <div class="flex items-center">
        <i class="logo-ecoapp text-xl lg:text-2xl"></i>
        <h1 class="text-2xl pb-4"> <strong class="text-[#006C34]">Green</strong><strong
            class="text-[#FFC107]">Point</strong> </h1>
      </div>
      <p>Fomentando una <br>
        cultura de reciclaje <br> y sostenibilidad.</p>
    </div>
    <div>
      <h1 class="font-bold text-md my-3">Contacto</h1>
      <ul class="list-disc">
        <li class="font-bold">{{'support@greenpoint.com'}}</li>
        <li class="font-bold">
          88 colin p kelly jr street
          San Francisco, CA 94107
        </li>
        <li class="font-bold">
          +123456789012
        </li>
      </ul>
    </div>
    <div class="w-28 h-4/6">
      <h1 class="font-bold text-md my-3">Nuestras redes</h1>
      <div class="grid grid-cols-3 gap-1">
        <div class=" text-center">
          <img src="../../../assets/icons/icono-fb.png" alt="">
        </div>
        <div class=" text-center">
          <img src="../../../assets/icons/icono-ig.png" alt="">
        </div>
        <div class=" text-center">
          <img src="../../../assets/icons/icono-twt.png" alt="">
        </div>
        <div class=" text-center">
          <img src="../../../assets/icons/icono-wts.png" alt="">
        </div>
        <div class=" text-center">
          <img src="../../../assets/icons/icono-yt.png" alt="">
        </div>
        <div class=" text-center">
          <img src="../../../assets/icons/snapchat -logo.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
</main>
