/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

::-ms-reveal {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
