<form class="space-y-2" [formGroup]="form" (submit)="sendForm()">
  <h4 class="text-center mb-3 text-xl font-bold">Agregar greenpoint</h4>
  <div class="field">
    <input
      formControlName="name"
      class="placeholder:text-black info"
      type="text"
      placeholder="Nombre del punto verde"
      (input)="validateField('name')"
    />
    <p *ngIf="form.controls['name'].touched" class="text-[0.5rem] text-red-500">
      {{ errorsMessage["name"] }}
    </p>
  </div>
  <div class="field">
    <input
      formControlName="dni"
      class="placeholder:text-black info"
      type="text"
      placeholder="DNI o documento de identidad"
      (input)="validateField('dni')"
      (keypress)="onlyKeyNumber($event)"
    />
    <p *ngIf="form.controls['dni'].touched" class="text-[0.5rem] text-red-500">
      {{ errorsMessage["dni"] }}
    </p>
  </div>
  <div class="field">
    <input
      type="tel"
      class="placeholder:text-black info"
      formControlName="phone"
      type="text"
      placeholder="Teléfono"
      (keypress)="onlyKeyNumber($event)"
      (input)="validateField('phone')"
    />
    <p
      *ngIf="form.controls['phone'].touched"
      class="text-[0.5rem] text-red-500"
    >
      {{ errorsMessage["phone"] }}
    </p>
  </div>
  <div class="field">
    <span>Horario de atenci&oacute;n</span>
    <div class="input_time">
      <input (input)="validateTime()" formControlName="openTime" type="time" />
      <span class="mx-2">a</span>
      <input (input)="validateTime()" formControlName="closeTime" type="time" />
    </div>
    <!-- ---------------------------------------------dias habiles -->
    <div>
      <label [for]="day" class="mr-2" *ngFor="let day of days">
        <input [id]="day" type="checkbox" [formControlName]="day" />{{
          day | titlecase
        }}
      </label>
    </div>
    <p
      *ngIf="
        form.controls['openTime'].touched || form.controls['closeTime'].touched
      "
      class="text-[0.5rem] text-red-500"
    >
      {{ errorsMessage["openTime"] }}
    </p>
    <p *ngIf="invalidDay" class="text-[0.5rem] text-red-500">Debe seleccionar al menos dia de atenci&oacute;n</p>
  </div>
  <!-- -----------------------------------------------tipos de reciclaje -->
  <div class="field">
    <div *ngFor="let type of recicledTypes">
      <input
        [formControlName]="type.toLowerCase()"
        class="mr-2"
        type="checkbox"
        [id]="type"
      />
      <label class="text-sm" [for]="type">{{ type }}</label>
    </div>
    <p *ngIf="invalidType" class="text-[0.5rem] text-red-500">Debe seleccionar al menos un tipo.</p>
  </div>
  <hr />
  <h6>
    Haga <span class="font-bold">doble click</span> en el mapa para obtener
    estos campos
  </h6>
  <div class="field grid grid-cols-3 mb-3">
    <label for="address">Direcci&oacute;n: </label>
    <input id="address" formControlName="address" type="text" class="info" (input)="validateField('address')" />
    <input
      readonly
      id="lat"
      formControlName="lat"
      type="text"
      class="info hidden"
    />
    <input
      readonly
      id="lng"
      formControlName="lng"
      type="text"
      class="info hidden"
    />
  </div>
  <p
    *ngIf="
      this.form.controls['address'].touched &&
      (this.form.get('lat')?.invalid || this.form.get('address')?.invalid)
    "
    class="text-[0.5rem] text-red-500"
  >
    {{this.errorsMessage['address']}}
  </p>
  <div class="pt-3 text-center">
    <app-button [type]="'submit'">Crear Greenpoint</app-button>
  </div>
</form>
