<div
  class="absolute hidden lg:block top-4 lg:right-1/2 lg:translate-x-1/2"
>
  <h3 class="text-white font-inter text-3xl font-bold" >{{data.nombreCompleto}}</h3>
</div>
<h3 class="text-white font-inter text-3xl font-bold">Estad&iacute;sticas</h3>
<h4 class="text-white font-inter text-lg font-semibold my-8">Resumen</h4>
<div class="charts lg:flex justify-evenly gap-x-4">
  <app-custom-chart></app-custom-chart>
  <app-custom-chart></app-custom-chart>
</div>
<h4 class="text-slate-700 my-4 text-xl font-semibold">Estad&iacute;sticas propias</h4>
<div class="flex flex-wrap items-center justify-around" *ngIf="data">
  <app-score
  *ngIf="data.CantPuntosVerde"
  [points]="data.CantPuntosVerde"
  >Cantidad de Puntos Verdes</app-score>
  <app-score
  *ngIf="data.cantPremio !== undefined"
  [points]="data.cantPremio"
  >Premios creados</app-score>
  <app-score
  *ngIf="data.puntos"
  [points]="data.puntos"
  >Puntos</app-score>
  <app-score
  *ngIf="data.premiosObtenidos"
  [points]="data.premiosObtenidos"
  >Premios Obtenidos</app-score>
</div>
